h4{
  color: blue;
  font-size:44px;
  transition: all 0.2s;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  font-family: roboto;
}

div#dummy-img{
  background-image: url("images/avatar.png");
}
